@mixin btnProduct($bg,$color,$border) {
  background: $bg;
  color: $color;
  border-color: $border;
  padding: .8em 1.5em;

  &:focus, &:active, &:hover {
    background: $bg;
    color: $color;
    border-color: $border;
  }
}